<div id="container">
  <strong *ngIf="biometricType">Biometric is available : {{ biometricType }}</strong>
  <strong *ngIf="biometricSecret">Biometric secret : {{ biometricSecret }}</strong>
  <ion-button color="primary" expand="block" class="ion-activatable ripple-parent signin-btn" *ngIf="!biometricType"
    (click)="checkBiometric()">
    Check Biometric
  </ion-button>
  <!-- <ion-button color="primary" expand="block" class="ion-activatable ripple-parent signin-btn"
    *ngIf="biometricType" (click)="loadBiometricSecret()">
    Load Biometric Secret
  </ion-button> -->
  <ion-button color="primary" expand="block" class="ion-activatable ripple-parent signin-btn"
    *ngIf="biometricType && !biometricSecret" (click)="registerBiometric()">
    Register Biometric
  </ion-button>
  <!-- <ion-button color="primary" expand="block" class="ion-activatable ripple-parent signin-btn"
    (click)="openInAppBrowser()">
    Open
  </ion-button> -->

</div>
